<form id="{{form_id}}">
    <h3>Symphony Elements</h3>
    <h6>This is a sample form using Symphony Elements. Fill in the field and click Confirm, the Bot will receive the data and will reply to you.</h6>
    <text-field minlength="3" maxlength="100" masked="false" name="sampleInput" required="true"></text-field>
    <select name="sampleInput" required="true" data-placeholder="Select an option">
        <option value="JPY">JPY</option>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
    </select>
    <button name="confirm" type="action">Confirm</button>
</form>
